{% extends "base/base.html" %}

{% block content %}
<head>
    <title>{% block head_title %}Licensing{% endblock head_title %}</title>
</head>

<div class="mb-4 text-center">
    <h1 class="font-bold text-5xl">Licensing</h1>
</div>

<main class="container mx-auto mt-8 px-4">
    <section class="bg-white p-6 rounded shadow">
      <h2 class="text-2xl font-bold mb-4">Licensing</h2>
      <h6 class="text-2xl font-bold mb-4"><span class="italic">Last updated: May 3, 2024</span></h6>
      <p class="text-gray-700">
        Welcome to the licensing page of Image Blend for Education. 
        Below are the terms and conditions that apply to the content and materials provided on our website.
      </p>
    </section>

    <section class="bg-white p-6 rounded shadow mt-8">
      <h2 class="text-2xl font-bold mb-4">Types of Content Covered:</h2>
      <p class="text-gray-700">
        Our website provides various types of content, including images, and blending tools.
    </section>

    <section class="bg-white p-6 rounded shadow mt-8">
      <h2 class="text-2xl font-bold mb-4">Licensing Terms:</h2>
      <p class="text-gray-700">
        Unless otherwise stated, all content on our website is licensed 
        under a Creative Commons 
        Attribution-NonCommercial-ShareAlike 4.0 International License (CC BY-NC-SA 4.0). 
        This means:We use the collected information for the following educational purposes:
      </p>
        <ul class="list-disc list-inside text-gray-700">
            
            <b>You are free to:</b>
                <ul class="list-disc list-inside text-gray-700">
                    <li>Share: Copy and redistribute the material in any medium or format.</li>
                    <li>Adapt: Remix, transform, and build upon the material.</li>
                </ul>
            
            
        
            <b>Under the following terms:</b>
                <ul class="list-disc list-inside text-gray-700">
                    <li> Non-Commercial: You may not use the material for commercial purposes.</li>
                    <li> Share Alike: If you remix, transform, or build upon the material,
                        you must distribute your contributions under the same license as the original.</li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="bg-white p-6 rounded shadow mt-8">
        <h2 class="text-2xl font-bold mb-4">License Disclaimer:</h2>
        <p class="text-gray-700">
            The information provided on this page is for informational purposes only 
            and does not constitute legal advice. For legal questions or concerns about the licensing terms, 
            please consult with a qualified legal professional.
        </p>
    </section>

      <section class="bg-white p-6 rounded shadow mt-8">
        <h2 class="text-2xl font-bold mb-4">Contact Us</h2>
        <p class="text-gray-700">
            If you have any questions or need further clarification about our licensing terms,
            please <a href="/contactUs/" class="text-blue-500 hover:underline">Contact Us</a>.
        </p>
    </section>

  </main>

{% endblock %}