{% extends "base/base.html" %}

{% block content %}
  
<head>
    <title>{% block head_title %}Privacy Policy{% endblock head_title %}</title>
</head>

<div class="mb-4 text-center">
    <h1 class="font-bold text-5xl">Privacy Policy</h1>
</div>



<main class="container mx-auto mt-8 px-4">
    <section class="bg-white p-6 rounded shadow">
      <h2 class="text-2xl font-bold mb-4">Privacy Policy for Educational Use of Spatial Blend</h2>
      <h6 class="text-2xl font-bold mb-4"><span class="italic">Last updated: May 3, 2024</span></h6>


      <p class="text-gray-700">
        Spatial Blend is dedicated to safeguarding the privacy of our users, 
        particularly in educational contexts. 
        This Privacy Policy outlines the types of information we collect, how we use it, 
        and the measures we take to ensure the privacy and security of user data.
      </p>
    </section>

    <section class="bg-white p-6 rounded shadow mt-8">
      <h2 class="text-2xl font-bold mb-4">Information We Collect</h2>
      <p class="text-gray-700">
        We may collect the following types of information for educational purposes:
      <ul class="list-disc list-inside text-gray-700">
        <li>Student Information: In educational settings, 
            we may collect student information such as names, email addresses, 
            and academic progress data solely for educational purposes. 
            This information is collected with the consent of parents or guardians 
            in compliance with applicable laws and regulations, 
            such as COPPA (Children's Online Privacy Protection Act).</li>
        <li>Non-personal Information: We may also collect non-personal information 
            such as IP addresses, browser type, and device information 
            for educational analytics and to improve our educational services.
        </li>
      </ul>
    </section>

    <section class="bg-white p-6 rounded shadow mt-8">
      <h2 class="text-2xl font-bold mb-4">How We Use Information</h2>
      <p class="text-gray-700">
        We use the collected information for the following educational purposes:
      </p>
      <ul class="list-disc list-inside text-gray-700">
        <li>Educational Services: To provide educational services and resources to students, teachers, and educational institutions.</li>
        <li>Personalization: To personalize educational content and experiences based on students' learning needs.</li>
        <li>Improvement: To analyze usage patterns and feedback to improve our educational services and develop new educational resources.</li>
      </ul>
    </section>

    <section class="bg-white p-6 rounded shadow mt-8">
      <h2 class="text-2xl font-bold mb-4">Data Security</h2>
      <p class="text-gray-700">
        We prioritize the security and confidentiality of student information 
        and implement appropriate technical and organizational measures to protect it 
        from unauthorized access, alteration, disclosure, or destruction. 
        These measures include encryption, secure servers, and restricted access to personal data.
      </p>
    </section>

    <section class="bg-white p-6 rounded shadow mt-8">
        <h2 class="text-2xl font-bold mb-4">Updates to Privacy Policy</h2>
        <p class="text-gray-700">
            We may update this Privacy Policy periodically to reflect changes 
            in our educational practices or legal requirements. 
            We will notify users of any material changes by posting the updated policy 
            on our website or through other appropriate means.
        </p>
    </section>

    <section class="bg-white p-6 rounded shadow mt-8">
        <h2 class="text-2xl font-bold mb-4">Contact Us</h2>
        <p class="text-gray-700">
            If you have any questions or concerns about our Privacy Policy or 
            educational practices, please <a href="/contactUs/" class="text-blue-500 hover:underline">Contact Us</a>.
        </p>
    </section>

  </main>

  





{% endblock %}