{% extends "base/base.html" %}

{% block content %}
<body>
    <div class="flex min-h-screen flex-col justify-center bg-gray-50 py-12 sm:px-6 lg:px-8">
        <div class="mx-auto w-full max-w-md sm:mx-auto">
            <img class="mx-auto h-16 w-auto" src="https://www.svgrepo.com/show/416654/pencil-pen-write.svg"
                alt="Sign up symbol">
            <h2 class="mt-4 text-center text-4xl leading-9 font-bold text-blue-600">
                Create a new account
            </h2>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <form method="POST" action="#">
                    {% csrf_token %}
                    <!-- First Name -->
                    <div class="mt-6">
                        <div class="mt-1 relative shadow-sm rounded-md">
                            <input id="first_name" name="first_name" type="text" required="" value="{{ form.first_name.value|default_if_none:'' }}"
                                class="appearance-none block w-full px-3 py-2 border border-blue-600 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-600 sm:text-sm sm:leading-5"
                                placeholder="First name">
                            {% if form.first_name.errors %}
                                <p class="text-red-500 text-xs italic">{{ form.first_name.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Last Name -->
                    <div class="mt-6">
                        <div class="mt-1 relative shadow-sm rounded-md">
                            <input id="last_name" name="last_name" type="text" required="" value="{{ form.last_name.value|default_if_none:'' }}"
                                class="appearance-none block w-full px-3 py-2 border border-blue-600 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-600 sm:text-sm sm:leading-5"
                                placeholder="Last name">
                            {% if form.last_name.errors %}
                                <p class="text-red-500 text-xs italic">{{ form.last_name.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Username -->
                    <div class="mt-6">
                        <div class="mt-1 flex rounded-md shadow-sm">
                            <input id="username" name="username" type="text" required="" value="{{ form.username.value|default_if_none:'' }}"
                                class="appearance-none block w-full px-3 py-2 border border-blue-600 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-600 sm:text-sm sm:leading-5"
                                placeholder="Username">
                            {% if form.username.errors %}
                                <p class="text-red-500 text-xs italic">{{ form.username.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="mt-6">
                        <div class="mt-1 relative shadow-sm rounded-md">
                            <input id="email" name="email" type="email" required="" value="{{ form.email.value|default_if_none:'' }}"
                                class="appearance-none block w-full px-3 py-2 border border-blue-600 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-600 sm:text-sm sm:leading-5"
                                placeholder="Email">
                            {% if form.email.errors %}
                                <p class="text-red-500 text-xs italic">{{ form.email.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="mt-6">
                        <div class="mt-1 rounded-md shadow-sm">
                            <input id="password1" name="password1" type="password" required=""
                                class="appearance-none block w-full px-3 py-2 border border-blue-600 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-600 sm:text-sm sm:leading-5"
                                placeholder="Password">
                            {% if form.password1.errors %}
                                <p class="text-red-500 text-xs italic">{{ form.password1.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Password Confirmation -->
                    <div class="mt-6">
                        <div class="mt-1 rounded-md shadow-sm">
                            <input id="password2" name="password2" type="password" required=""
                                class="appearance-none block w-full px-3 py-2 border border-blue-600 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-600 sm:text-sm sm:leading-5"
                                placeholder="Retype password">
                            {% if form.password2.errors %}
                                <p class="text-red-500 text-xs italic">{{ form.password2.errors }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="mt-6">
                        <span class="block w-full rounded-md shadow-sm">
                            <button type="submit"
                                class="w-full flex justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white hover:bg-blue-500 focus:border-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-700">
                                Create account
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <p class="mt-4 text-sm leading-5 sm:mx-auto sm:w-full sm:max-w-md pl-32">
                Already a member?
                <a href="/login/" class="text-blue-600 hover:text-blue-800 focus:outline-none hover:underline">
                    Sign in.
                </a>
            </p>
        </div>
    </div>
    </div>
    <script>
        let dropdownContainer = document.getElementById('dropdown-container');
        let dropdownMenu = document.getElementById('dropdown-menu');

        dropdownContainer.addEventListener('mouseenter', function () {
            dropdownMenu.classList.remove('hidden');
        });

        dropdownContainer.addEventListener('mouseleave', function () {
            dropdownMenu.classList.add('hidden');
        });
    </script>
</body>

{% endblock %}