{% load static %}

<nav class="flex flex-wrap top-0 z-50 items-center justify-between w-full p-4">
    <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
        <svg class="h-10 w-10" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 315.223 315.223" xml:space="preserve">
   <g>
       <g>
           <polygon style="fill:#005FAD;" points="304.108,230.643 304.108,218.858 11.114,218.858 11.114,230.643 157.611,315.223 		"/>
           <polygon style="fill:#0071CE;" points="304.108,218.858 157.611,134.278 11.114,218.858 157.611,303.438 		"/>
       </g>
       <g>
           <polygon style="fill:#BF534F;" points="304.108,163.504 304.108,151.719 11.114,151.719 11.114,163.504 157.611,248.083 		"/>
           <polygon style="fill:#FF6D68;" points="304.108,151.719 157.611,67.139 11.114,151.719 157.611,236.299 		"/>
       </g>
       <g>
           <polygon style="fill:#E0B03B;" points="304.108,96.365 304.108,84.58 11.114,84.58 11.114,96.365 157.611,180.944 		"/>
           <polygon style="fill:#FFC843;" points="304.108,84.58 157.611,0 11.114,84.58 157.611,169.159 		"/>
       </g>
   </g>
   </svg>
        <span class="self-center text-2xl font-bold whitespace-nowrap dark:text-black">SpatialBlend</span>
    </a>
    <div class="space-x-8 flex justify-right text-gray-600">
       
        <a href="/imageCombine/" class="hover:text-blue-600">Blend</a>
        <a href="/imageEditor/" class="hover:text-blue-600">Edit</a>
        <a href="/learnMore/" class="hover:text-blue-600">Learn More</a>
        <a href="/aboutUs/" class="hover:text-blue-600">About Us</a>
        <div class="space-x-2">
          {% if user.is_authenticated %}
          <span class="pt-1 pb-1 px-2.5 text-blue-600 font-medium rounded-lg text-sm">Hello, {{ request.user }}</span>
            <a href="{% url 'logout' %}" class="pt-1 pb-1 px-2.5 text-white bg-blue-600 hover:bg-blue-800 font-medium rounded-lg text-sm">Logout</a>
          {% else %}
            <a href="{% url 'login' %}" class="pt-1 pb-1 px-2.5 text-blue-600 hover:text-blue-800 font-medium rounded-lg text-sm border-solid border-blue-700">Login</a>
            <a href="{% url 'signup' %}" class="pt-1 pb-1 px-2.5 text-white bg-blue-600 hover:bg-blue-800 font-medium rounded-lg text-sm">Sign up</a>
          {% endif %}
        </div>
    
    </div>
</nav>
<div class="pt-24"></div>